/*==========GERAL==========================*/

:root{
    --primary-color:  #00856F;
    --headline-color: #212529;
    --paragraph-color: #495057;
    --scroll-color: #04aa6d;

    --nav-height: 7.2rem;

    font-size: 62.5%;
    
    
}

*{
    font-family: 'DM Sans' ;
    box-sizing: border-box;
    text-decoration:none; 

    padding: 0;
    margin: 0;
}
html, body {
    width: 100%;
    height: 100%;
}

.body{
    text-align: center;
    overflow: overlay;

}

.wrapper{
    width: 37.5rem;
    margin-inline: auto;
    padding-inline: auto;
}

ul{
    list-style: none;
}

/*==========HEADER==========================*/



header{
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
    margin-top: calc(4.1rem + var(--nav-height) ) ;

    //background-color: #DCE9E2;
    

    .midle{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

header::before {
    content: "";
    width: 100vw;
    height: calc(108rem + var(--nav-height));
    background-color: #DCE9E2;;
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

header h1{
    font-size: 3.4rem;
    line-height: 130%;
    color: var(--headline-color);

    margin-bottom: 2.4rem;
    
}

header h4{
    font-size: 1.4rem;
    color: var(--primary-color);

    margin-bottom: 1.6rem;
}

header p{
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;

    color: var(--paragraph-color);

    margin-bottom: 3.2rem;
}

header button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    padding: 1.6rem 3.2rem;

    width: 26.3rem;
    height: 5.2rem;

    font-size: 1.4em;
    font-weight: 700;
    
 
    
    background-color: var(--primary-color);
    color: #fff;
    align-items: center;

    border: none;
    border-radius: 4rem;

    margin-bottom: 6rem;

    cursor: pointer;
    

    span{
        margin-right: 1.7rem;
    }
}

header button:hover {
    background-color: #212529;
}

.img-model{
    width: 30rem;
    margin-top: 3rem;
    margin-bottom: 0%;
    z-index: -1;
}


.nubersInformations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;

    //-----------------\\
    position: absolute;
    width: 327px;
    height: 470px;
    //left: 24px;
    top: 899px;
    //-----------------\\

    width: 32.7rem;
    height: 47rem;
    
    margin-top: 0px;

    border-radius: 0.6rem;
    background: #fff;

    //border:  solid 1px red;

    :first-child{
        margin-top: 4rem;
    }

    .information{
       // border: solid 1px blue;

        width: 16.7rem;
        height: 9rem;
        
        margin-bottom: 6rem;

        h3{
            margin: 0%;
            color: var(--headline-color);

            font-size: 4.8rem;
           // border: solid 1px red;
        }
        p{
            margin-top: 0px;
            color: var(--primary-color);
        }
    }

    


}

/*==========NAVIGATION==========================*/

nav{
    display: flex;

    height: var(--nav-height);

    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%)
}

nav.scroll {
    background-color: var(--primary-color);
    width: 100vw;

}

nav.scroll svg:nth-child(1) path {
    fill: white;
}

nav.scroll button path {
    stroke: white;
}


.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*==========MENU-EXPANDED==========================*/


// #body.menu-expanded .titles, .midle, .nubersInformations  {
//     visibility: hidden;
//     height: 0px;
// }

#body.menu-expanded > :not(nav)  {
    display: none;
}

.menu, 
.close-menu
 {
    opacity: 0;
    visibility: hidden;
    
}

#body.menu-expanded .menu  {
    opacity: 1;
    visibility: visible;
}

#body.menu-expanded .close-menu  { 
    opacity: 1;
    visibility: visible;
    z-index: 10;

    position: relative;
    width: 375px;
    height: 72px;

    right: -15rem;
   
}


.menu-expanded .menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-color);

    width: 100vw;
    height: 100vh;

    text-align: center;
    padding-top: var(--nav-height);
    
}


#body.menu-expanded nav  {
    position: relative;

}

.menu li{
    margin-top: 6rem;
    
}

.menu li:last-child{
    margin-bottom: 4.8rem;
}

.menu li a{
    font-size: 1.6rem;
    color: #fff;
}

.button{
    background: #ffffff;
    border-radius: 4rem;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    text-transform: uppercase;

    color: #00856F;

    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;

    width: 27.4rem;
    height: 5.5rem;
    
}

#body.menu-expanded .logo{
    position: relative;
    z-index: 10;
}


#body.menu-expanded .logo svg:nth-child(1) path {
    fill: white;
}

#body.menu-expanded .logo svg:nth-child(2) path {
    stroke: white;
}

nav button {
    background: none;
    border: none;
    cursor: pointer;
}










